<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary>What is Fundibles?</summary>
          <p>Fundibles is a platform that allows restaurants to raise funds directly from the customers who love them most. We make fundraising easy by offering a full suite of web services so that restaurant owners can get back to what they do best, which is making amazing food!</p>
        </details>
      </li>
       <li>
        <details class=''>
          <summary>How can I use Fundibles?</summary>
          <p>If you own a restaurant, head over to Fundibles.com and follow the links to get started.  We'll guide you through the entire process.  We can be as hands on or off as you like! Our software is designed to be flexible to your needs.
          <br />
          <br />
          If you're someone who just loves good food, Fundibles is the best way to find great new restaurants, and also directly contribute to them!</p>
        </details>
      </li>
         <li class=''>
        <details class=''>
          <summary class=''>How do I make a contribution?</summary>
          <p>Simply click on the Contribute Now button, which will direct you to our Amazon payment portal.  From there, follow the on screen directions, then come on over for a steak! If you have any issues, contact me at Antionio@steakhouse.me</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How do I setup Amazon Payments?</summary>
          <p>You'll need to <a href="https://payments.amazon.com/sdui/sdui/accountstatus">create an Amazon Seller Central account</a>. Afterwards, get your access key and secret key from the "Integration" tab on your AWS account. <a href="https://payments.amazon.com/sdui/sdui/helpTab/Checkout-by-Amazon/Advanced-Integration-Help/Using-Your-Access-Key">Click here for more info</a>.
          <br />
          <br />
          Once you have your access key and secret key, head over to <code>config/settings.yml</code>. Change <code>amazon_access_key</code> and <code>amazon_secret_key</code> appropriately.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Can I use another payments provider?</summary>
          <p>Of course. We haven't built in support for other providers, but we recommend that you take a look at <a href="https://stripe.com">Stripe</a> or <a href="https://wepay.com">WePay</a>.</p>
        </details>
      </li>
      <!-- <li>
        <details class=''>
          <summary>How do I edit the FAQ?</summary>
          <p>The faq is a partial located in <code>app/views/preorder/homepage/_faq.html.erb</code> The <code>summary</code> tag is the title, the <code>p</code> is the body. Make sure to add an <code>li</code> tag for each FAQ entry.</p>
        </details>
      </li> -->
    </ul>
    <ul class='col2'>
      <li class=''>
        <details class=''>
          <summary class=''>Is it safe?</summary>
          <p>Our payment gateway is supported by Amazon, which is known for its top notch security standards.  In addition, your card will only be charged if the restaurant reaches it's funding goal.  If the goal isn't reached, you never pay a dime</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How do I deploy it?</summary>
          <p>We recommend using Heroku. We include a Procfile for you, so all you need to do is:
          <p>
            <p>Install the <a href="https://toolbelt.heroku.com/">Heroku Toolbelt</a></p>
            <p>Run <code>heroku create</code> in Selfstarter's folder</code></p>
            <p>Run <code>git push heroku master</code> in Selfstarter's folder</p>
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
