<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Who We Are
      </h3>
      <p>
       Antonio's Churrascaria Delicioso is a family owned, authentic Brazilian steakhouse.
       We've been in business for over 5 years, and thanks to your support, we're ready to
       open another location! Click the picture to see a quick video about us!
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        Why We Need You
      </h3>
      <p>
        We want to make sure that your experience at our new location is just as wonderful
        as it's been here.  We'd also like to throw in a few surprises, mixing it up is one of the things we do best! 
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        We Are Different
      </h3>
      <p>
        We've kept our 100 year old family recipes, and coupled them with an unrivaled 
        customer service experience.  Our food is amazing, and so is our staff.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        How To Help
      </h3>
      <p>
        Make a contribution of any size, and be entered to win a free catered party at
        our new location!  Click on the Contribute Now button to make your way over to our secure payment portal.  Thank You, and we'll see you soon!
      <p>
    </div>
  </div>
</div>
