<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Bronze</h4>
      <p>Make a contribution of $10, and get an entrance for a free catering party!</p>
    </li>
    <li id="section-2">
      <h4>Silver</h4>
      <p>Make a contribution of $50, get 5 entrances for a free catering party, and $10
      off your next meal!</p>
    </li>
    <li id="section-3">
      <h4>Gold</h4>
      <p>Make a contribution of $100, get 10 entrances for a free catering party, 
      $20 off your next meal, and an awesome t-shirt!</p>
    </li>
    <li id="section-4">
      <h4>Platinum</h4>
      <p>Make a contribution of $200, get 20 entrances for a free catering party,
      $40 off your next meal, an awesome t-shirt, and your name on a plaque in
      our dining room!</p>
    </li>
  </ul>
</div>
