<div class="sidebar">
  <h5>When will I be charged?</h5>
  <p>
    You will only be charged if the restaurant is able to meet its funding goal.  Once that happens, you will be notified and charged within 3 business days.  If the goal is not reached, you don't pay anything!
  </p>
</div>