<div id="header">
  <div class="wrapper clearfix">
    <h1 id="lockitron_header"><a href="/"><%= Settings.product_name %></a></h1>
    <!-- <h4 id='tagline'>Crowdfunding so good, you can taste it!</h4> -->
  </div>
</div>